
body {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  max-width: 600px;
  background: #F4F4F4;
  /* border: 2px solid green; */
  margin: 3em auto 3em auto;
  border: 2px solid #b295ff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px black;
}

/* Utility class */

.block {
  display: block;
  margin: 50px auto;
}

/* Paragraphs and headings */

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  text-transform: capitalize;
}

h4{
  color: #5A537B;
  font-weight: 600;
}

p {
  font-weight: 300;
}

/* Header section */

#header {
  /* border: 2px solid red; */
  background-color: #6943ff;
  padding: 2em;
}

/* Input field */

#unit {
  width: 117px;
  border: 2px solid #b295ff;
  background-color: #6943ff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 58px;
  line-height: 24px;
  font-style: normal;
}

/* The button */

#convert-button {
  padding: 1em;
  width: 117px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  color: #3d3d3d;
  font-size: 1.2rem;
}

#convert-button:hover {
  background-color: #5A537B;
  color: #fff;
}

/* Styles for the results groups */

.units-answer {
  width: 80%;
  background: #fff;
  border-radius: 4.68077px 0px 0px 0px;
  margin: 1em auto;
  padding: .5em;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 10px;
}
